.ForgotPasswordForm {
    box-sizing: border-box;
    padding: 1em;
}

.ForgotPasswordForm fieldset {
    padding: 1em;
}

.ForgotPasswordForm input {
    margin-bottom: 1.5em;
    padding: 0.5em;
    width: 100%;
}

.ForgotPasswordForm button {
    background-color: var(--color-bg-secondary);
    border: none;
    color: var(--color-text);
    cursor: pointer;
    font-size: inherit;
    padding: 0.5em;
    width: 75%;
    text-transform: uppercase;
}

.ForgotPasswordForm button:hover {
    transform: translate(1px, 1px);
}

.ForgotPasswordForm button:active {
    box-shadow: inset 0px 0px 5px 3px var(--color-bg-secondary-light);
}

.ForgotPasswordForm label {
    float: left;
    text-align: left;
}