 .LogInForm {
    box-sizing: border-box;
    max-width: 960px;
    padding: 1em;
}

.LogInForm fieldset {
    padding: 1em;
}

.LogInForm input {
    margin-bottom: 1.5em;
    padding: 0.5em;
    width: 100%;
}

.LogInForm button {
    background-color: var(--color-bg-secondary);
    border: none;
    color: var(--color-text);
    cursor: pointer;
    font-size: inherit;
    padding: 0.5em;
    width: 75%;
    text-transform: uppercase;
}

.LogInForm button:hover {
    transform: translate(1px, 1px);
}

.LogInForm button:active {
    box-shadow: inset 0px 0px 5px 3px var(--color-bg-secondary-light);
}

.LogInForm label {
    float: left;
    text-align: left;
}

legend {
    font-size: 2rem;
}